/* src/components/Button/Button.css */
@import '../../styles/variables';

.custom-button {
  /* Styles spécifiques au bouton ici */
  background-color: $color-accent-orange;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
