// src/styles/_variables.scss

$margin-size: 10px;

// Définition de la police global
$font-family: 'Fira Code', monospace;

// Variables pour la taille de la police
$font-size-code-snippets: 14px;
$font-size-labels: 16px;
$font-size-body-text: 18px;
$font-size-subheadline-text: 32px;
$font-size-headline-text: 62px;


// Colors primary
$color-primary-dark: #01080E;
$color-primary-medium: #011627;
$color-primary-light: #011221;

// Colors default
$color-default-dark: #1C2B3A;
$color-default-light: #263B50;

// Colors secondary
$color-secondary-grey: #607B96;
$color-secondary-green: #3C9D93;
$color-secondary-purple: #4D5BCE;
$color-secondary-white: #FFFFFF;

// Colors accent
$color-accent-orange: #FEA55F;
$color-accent-orange-light: #FFAC6B;
$color-accent-green: #43D9AD;
$color-accent-solmon: #E99287;
$color-accent-pink: #C98BDF;

// Colors de lines
$color-lines: #1E2D3D;

// Gradient
$gradient-blue: #4D5BCE;
$gradient-green: #43D9AD;
